<div class="header">
  <div class="wrapper">
    <div class="header__flex">
      <div class="header__btns">
        <button class="header__btn" (click)="openAddDialog()">Добавить</button>
        <div class="popup header__popup" *ngIf="isAddDialog">
          <div class="popup__box_close">
            <button class="popup__btn_close" (click)="closeAddDialog()"></button>
          </div>
          <form class="popup__form">
            <input type="text" class="popup__input" placeholder="5 марта, 14:00, День рождение">
            <button type="submit" class="popup__btn" (click)="createEvent()">Создать</button>
          </form>
        </div>
        <button class="header__btn" (click)="reloadPage()">Обновить</button>
      </div>
      <form class="header__form">
        <button type="submit" class="header__submit" (click)="searchEvent()"></button>
        <input type="text" class="header__input" placeholder="Событие, дата или участник">
      </form>
    </div>
  </div>
</div>

<div class="calendar">
  <div class="wrapper">
    <div class="calendar__nav">
      <button class="calendar__btn_left" (click)="prevMonth()"></button>
      <p class="calendar__title">{{calendar.month}}</p>
      <button class="calendar__btn_right" (click)="nextMonth()"></button>
      <button class="calendar__btn" (click)="getToday()">Сегодня</button>
    </div>

    <div class="calendar__container">
      <div 
        class="calendar__cell" 
        *ngFor="let e of calendar.days; let i = index"
        [ngClass]="e.status? 'calendar__cell_active' : 'calendar__cell_inactive'"
        (click)="clickCell($event, e)"
      >
        <p class="calendar__cell_day">
          <span *ngIf="i<7">{{e.day}}, </span>
          <span>{{e.date}} </span>
          <span *ngIf="e.now" style="font-weight: bold; color: gold;"> Сегодня</span>
        </p>
        <p class="calendar__cell_title">{{e.name}}</p>
        <p class="calendar__cell_subtitle">{{e.description}}</p>
        <p class="calendar__cell_subtitle">{{e.participants}}</p>

        <div class="bg" *ngIf="e.isCellDialog" (click)="closeCellDialog(e); $event.stopPropagation();"></div>

        <div 
          class="popup" 
          *ngIf="e.isCellDialog" 
          [ngStyle]="{'top.px': top, 'left.px': left}"
        >
          <div class="popup__box_close">
            <button class="popup__btn_close" (click)="closeCellDialog(e); $event.stopPropagation();"></button>
          </div>
          <form class="popup__form" [formGroup]="myForm" novalidate (ngSubmit)="submit(e)">
            <input type="text" class="popup__input" placeholder="Событие" formControlName="name">
            <input type="text" class="popup__input" placeholder="Имена участников" formControlName="participants">
            <textarea placeholder="Описание" formControlName="description"></textarea>
            <button type="submit" class="popup__btn" [disabled]="myForm.invalid">Готово</button>
            <button type="button" class="popup__btn" (click)="deleteData(e)">Удалить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>